{% extends layout %}
{% block title %}Impressum{% endblock %}

{% block styles %}
    <style>
        p{
            font-size:0.9em;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Impressum</h2>

                <h36Angaben gemäß § 5 TMG</h6>
                <p>Rene Beckmann<br />
                IT Service Beckmann<br />
                Im Siepen 10<br />
                59823 Arnsberg</p>
                
                <h6>Kontakt</h6>
                <p>Telefon: 0170/7008650<br />
                E-Mail: info@itservice-beckmann.de</p>
                
                <h6>EU-Streitschlichtung</h6>
                <p>
                    Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: 
                    <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> 
                    Unsere E-Mail-Adresse finden Sie oben im Impressum.
                </p>
                
                <h6>Verbraucherstreitbeilegung / Universalschlichtungsstelle</h6>
                <p>Wir nehmen an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil. Zuständig ist die Universalschlichtungsstelle des 
                    Zentrums für Schlichtung e.V., Straßburger Straße 8, 77694 Kehl am Rhein 
                    (<a href="https://www.verbraucher-schlichter.de" rel="noopener noreferrer" target="_blank">https://www.verbraucher-schlichter.de</a>).
                </p>
                
                <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}{% endblock %}