{% extends layout %}
{% block title %}AGB{% endblock %}

{% block styles %}
    <style>
        h6{
            margin-top:23px;
            width:100%;
            border-bottom:1px solid lightgray;
        }
        li{
            margin-bottom:15px;
            font-size: 0.9em;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Allgemeine GGeschäftsbedingungen IT-Service Beckmann</h2>
                
                <h6>§1 Geltungsbereich</h6>
                <ol>
                    <li>Diese Geschäftsbedingungen gelten ausschließlich gegenüber Unternehmern, juristischen Personen des öffentlichen Rechts oder öffentlich-rechtlichen Sondervermögen im Sinne von § 310 Absatz 1 BGB. Entgegenstehende oder von diesen Geschäftsbedingungen abweichende Bedingungen des Partnerunternehmens erkennen wir nur an, wenn wir ausdrücklich in Textform der Geltung zugestimmt haben.</li>
                    <li>Diese Geschäftsbedingungen gelten auch für alle zukünftigen Geschäfte mit dem Partnerunternehmen, soweit es sich um Rechtsgeschäfte verwandter Art handelt.</li>
                    <li>Alle Bestellungen und Leistungen werden nach diesen Geschäftsbedingungen abgewickelt. Im Einzelfall getroffene, individuelle Vereinbarungen mit dem Partnerunternehmen (einschließlich Nebenabreden, Ergänzungen und Änderungen) haben in jedem Fall Vorrang vor diesen Geschäftsbedingungen. Für den Inhalt derartiger Vereinbarungen ist, vorbehaltlich des Gegenbeweises, ein Vertrag in Textform bzw. unsere Bestätigung in Textform maßgebend.</li>
                </ol>
                
            
                <h6>§2 Angebot und Vertragsabschluss</h6>
                <ol>
                    <li>Sofern eine Bestellung als Angebot gemäß § 145 BGB anzusehen ist, können wir diese innerhalb von zwei Wochen annehmen.</li>    
                </ol>
                

                <h6>§3 Urheberrechtsklausel</h6>
                <ol>
                    <li>An allen in Zusammenhang mit der Auftragserteilung dem Partnerunternehmen überlassenen Unterlagen – auch in elektronischer Form –, wie z. B. Kalkulationen oder Zeichnungen, und an allen auf Grundlage des Vertrages erbrachten Leistungen und hergestellten Produkten behalten wir uns Eigentums- und Urheberrechte vor. Diese Unterlagen, Produkte und Leistungen dürfen Dritten nicht zugänglich gemacht werden, es sei denn, wir erteilen dazu dem Partnerunternehmen unsere ausdrückliche Zustimmung in Textform.</li>
                    <li>Dem Partnerunternehmen wird nur das Recht eingeräumt, die von uns bereitgestellten Leistungen, Produkte, Programme und Programmteile zu dem vertraglich vorausgesetzten Gebrauch zu nutzen. Alle von uns bereitgestellten Leistungen und Produkte müssen sorgfältig behandelt werden.</li>
                    <li>Das Partnerunternehmen sichert zu, dass die von ihm zur Verfügung gestellten Unterlagen frei von Rechten Dritter sind oder die erforderlichen Rechte für die vorgesehene Verwendung beim Partnerunternehmen liegen.</li>
                </ol>
                

                <h6>§4 Preise und Zahlung</h6>
                <ol>
                    <li>Der Berechnungszeitraum beginnt mit dem Datum der Unterschrift unter dem Vertrag. Das vertragsgemäß geschuldete Entgelt ist innerhalb von 14Tagen nach Erhalt der Rechnung zu begleichen. Alle Preisangaben verstehen sich zzgl. der zum Vertragszeitpunkt gesetzlich geltenden MwSt.</li>
                    <li>Die Zahlung des Kaufpreises hat aus schließlich auf das in der Rechnung genannte Konto zu erfolgen. Der Abzug von Skonto ist ausgeschlossen.</li>
                    <li>Sofern keine Festpreisabrede getroffen wurde, bleiben angemessene Preisänderungen wegen veränderter Lohn-, Material- und Vertriebskosten für Lieferungen, die 3 Monate oder später nach Vertragsabschluss erfolgen, vorbehalten.</li>
                    <li>Wir behalten uns das Recht vor, die Höhe der fälligen Entgelte jeweils nach der vereinbarten Vertragslaufzeit anzupassen. Über entsprechende Änderungen wird das Partnerunternehmen mindestens einen Monat vor Ende der Kündigungsfrist gem. § 5 (2) in Textform informiert.</li>
                    <li>Gerät das Partnerunternehmen in Zahlungsverzug, so machen wir von unserem Zurückbehaltungsrecht Gebrauch. Wir können in diesem Fall die Leistung bis zur vollständigen Bezahlung einstellen, ohne das Recht auf die Gegenleistung zu verlieren. Sofern wir während des Verzugs Leistungen erbringt, geschieht dies aus Kulanz, ohne dass hierdurch eine Rechtspflicht begründet wird. Zur Ausübung eines Zurückbe haltungsrechts ist das Partnerunter nehmen nur insoweit befugt, als sein Gegenanspruch auf dem gleichen Vertragsverhältnis beruht.</li>
                    <li>Gerät das Partnerunternehmen mit dem geschuldeten Betrag um einen Monat in Verzug, so sind wir berechtigt, den Vertrag fristlos zu kündigen. Gleiches gilt, wenn das Partnerunternehmen gegen eine wesentliche Vertragspflicht verstößt, über das Vermögen des Bestellers ein gerichtliches oder außergerichtliches Verfahren eingeleitet wird oder ein sonstiger wichtiger Grund nach den gesetzlichen Vorschriften vorliegt. Gesetzliche Pflichten zur Mahnung des jeweils anderen Vertragsteils bleiben hiervon unberührt.</li>
                </ol>
                

                <h6>§5 Vertragslaufzeit und Kündigung</h6>
                <ol>
                    <li>Während der Laufzeit ist der Vertrag vorzeitig nur aus wichtigem Grund und mindestens in Textform kündbar.</li>
                    <li>Der Vertrag verlängert sich über die Laufzeit hinaus jeweils um ein Jahr, wenn er nicht drei Monate vor Ablauf der jeweiligen Vertragslaufzeit in Textform gekündigt wird. Das geschuldete Entgelt ist am Tag der Vertragsverlängerung fällig. Auch im Verlängerungszeitraum ist der Vertrag vorzeitig nur aus wichtigem Grund in Textform kündbar.</li>
                </ol>
                

                <h6>§6 Lieferzeit</h6>
                <ol>
                    <li>Der Beginn der von uns angegebenen Lieferzeit setzt die rechtzeitige und ordnungsgemäße Erfüllung der Verpflichtungen des Partnerunternehmens voraus. Die Einrede des nicht erfüllten Vertrages bleibt vorbehalten.</li>
                    <li>Kommt das Partnerunternehmen in Annahmeverzug oder verletzt es schuldhaft sonstige Mitwirkungspflichten, so sind wir berechtigt, den uns insoweit entstehenden Schaden, einschließlich etwaiger Mehraufwendungen ersetzt zu verlangen. Weitergehende Ansprüche bleiben vorbehalten. Sofern vorstehende Voraussetzungen vorliegen, geht die Gefahr eines zufälligen Untergangs oder einer zufälligen Verschlechterung der Kaufsache in dem Zeitpunkt auf den Besteller über, in dem dieser in Annahme- oder Schuldnerverzug geraten ist.</li>
                    <li>Wir haften im Fall des von uns nicht vorsätzlich oder grob fahrlässig herbeigeführten Lieferverzugs für jede vollendete Woche Verzug im Rahmen einer pauschalierten Verzugsentschädigung in Höhe von 3 % des Lieferwertes, maximal jedoch nicht mehr als 15 % des Lieferwertes.</li>
                    <li>Weitere gesetzliche Ansprüche und Rechte des Partnerunternehmens wegen eines Lieferverzuges bleiben unberührt.</li>
                </ol>
                

                <h6>§7 Pflichten des Partnerunternehmens</h6>
                <ol>
                    <li>Das Partnerunternehmen verpflichtet sich, uns jede Änderung der in diesem Vertrag gemachten Angaben sowie der Firma, Geschäftsbezeichnung, Rechtsanschrift oder Telefonnummer sofort mitzuteilen.</li>
                    <li>
                        Das Partnerunternehmen verpflichtet sich, die von uns bereitgestellten Leistungen nur im Rahmen des geltenden Rechts und ausschließlich zum Zwecke der Personalgewinnung zu nutzen. Dies bedeutet insbesondere:
                        <ol>
                            <li>die über die gebuchten Plattformen bereitgestellten Nachrichtenfunktionen sowie die über die Plattformen erhaltenen Kontaktdaten nicht zur massenhaften Versendung von weitgehend inhaltsgleichen Nachrichten (SPAM) oder zum Ablegen, Abrufen oder Verbreiten von Daten zu verwenden, die geeignet sind, den Bestand oder Betrieb von Hard- oder Softwareelementen Anderer zu beeinträchtigen oder zu gefährden (Viren, Malware oder sonstige Schadsoftware).</li>
                            <li>Zudem verpflichtet sich das Partnerunternehmen zur Beachtung von Zeichenrechten (z.B. Marken-, Namensund Firmenrechten) und zur Wahrung des Urheberrechts Dritter in Bezug auf die in die gebuchten Plattformen eingestellten Inhalte.</li>
                        </ol>
                    </li>
                    
                    <li>Die Verantwortung für die über die gebuchten Plattformen veröffentlichten Inhalte liegt beim Partnerunternehmen. Aufgrund der Art der Dienstleistung können wir insoweit keine Prüfungspflichten übernehmen.</li>
                    <li>Das Partnerunternehmen verpflichtet sich, uns im Falle einer missbräuchlichen Verwendung seiner Leistungen von allen Ansprüchen Dritter freizustellen. Dies gilt insbesondere bei einem Verstoß gegen die Mitwirkungspflichten gemäß § 8 (2).</li>
                </ol>
                

                <h6>§8 Mitwirkungspflichten des Partnerunternehmens</h6>
                <ol>
                    <li>Das Partnerunternehmen wirkt bei der Erfüllung der vertraglich vereinbarten Leistungen mit. Insbesondere ist das Partnerunternehmen verpflichtet, sämtliche zur ordnungsgemäßen Vertragserfüllung benötigten Informationen, Dateien etc. rechtzeitig und in einem gängigen und unmittelbar verwertbaren Format uns vorzulegen.</li>
                </ol>
                

                <h6>§9 Gewährleistung und Mängelrüge sowie Rückgriff/Herstellerregress</h6>
                <ol>
                    <li>Gewährleistungsrechte des Partnerunternehmens setzen voraus, dass dieses seinen nach § 377 HGB geschuldeten Untersuchungs- und Rügeobliegenheiten ordnungsgemäß nachgekommen ist.</li>
                    <li>Mängelansprüche verjähren in 12 Monaten nach erfolgter Bereitstellung der von uns gelieferten Leistung bei unserem Partnerunternehmen. Für Schadensersatzansprüche bei Vorsatz und grober Fahrlässigkeit sowie bei Verletzung von Leben, Körper und Gesundheit, die auf einer vorsätzlichen oder fahrlässigen Pflichtverletzung des Verwenders beruhen, gilt die gesetzliche Verjährungsfrist. Soweit das Gesetz gemäß § 445 b BGB (Rückgriffsanspruch) und § 634a Absatz 1 BGB längere Fristen zwingend vorschreibt, gelten diese Fristen.</li>
                    <li>Sollte trotz aller aufgewendeter Sorgfalt die erbrachte Leistung einen Mangel aufweisen, der bereits zum Zeitpunkt des Gefahrübergangs vorlag, so werden wir die Leistung, vorbehaltlich fristgerechter Mängelrüge nach unserer Wahl nachbessern oder Ersatz bereitstellen. Es ist uns stets Gelegenheit zur Nacherfüllung innerhalb angemessener Frist zu geben. Rückgriffsansprüche bleiben von vorstehender Regelung ohne Einschränkung unberührt.</li>
                    <li>Schlägt die Nacherfüllung fehl, kann das Partnerunternehmen – unbeschadet etwaiger Schadensersatzansprüche – vom Vertrag zurücktreten oder die Vergütung mindern.</li>
                    <li>Mängelansprüche bestehen nicht bei nur unerheblicher Abweichung von der vereinbarten Beschaffenheit, bei nur unerheblicher Beeinträchtigung der Brauchbarkeit, die nach dem Gefahrübergang infolge fehlerhafter oder nachlässiger Behandlung oder aufgrund besonderer äußerer Einflüsse entstehen, die nach dem Vertrag nicht vorausgesetzt sind. Werden vom Partnerunternehmen oder Dritten unsachgemäß Instandsetzungsarbeiten oder Änderungen vorgenommen, so bestehen für diese und die daraus entstehenden Folgen ebenfalls keine Mängelansprüche.</li>
                </ol>
                

                <h6>§10 Haftungsausschluss</h6>
                <ol>
                    <li>Wir haften uneingeschränkt für Schäden, die auf grober Fahrlässigkeit oder einem Fehlen zugesicherter Eigenschaften beruhen. Im Falle der 
                    Verletzung wesentlicher Vertragspflichten (Kardinalpflichten) haften wir auch bei leichter Fahrlässigkeit; jedoch ist die Haftung hier auf den 
                    typischerweise vorhersehbaren Schaden begrenzt. Im Übrigen ist die Haftung ausgeschlossen. Diese Bestimmungen gelten auch für die gesetzlichen 
                    Vertreter und Mitarbeiter des Unternehmens IT-Service Beckmann. Darüber hinaus gelten diese Bestimmungen auch, wenn die Vertragserfüllung durch Dritte 
                    und/oder Erfüllungsgehilfen von uns erfolgt.</li>
                    <li>Die Haftungsbeschränkung gilt nicht für die Haftung nach dem Produkthaftungsgesetz. Sie gilt auch nicht bei der Verletzung von Leben, Körper oder Gesundheit.</li>
                </ol>
                

                <h6>§11 Aufrechnungsverbot</h6>
                <ol>
                    <li>Das Partnerunternehmen hat ein Aufrechnungs- oder Zurückbehaltungsrechte nur, soweit sein Anspruch rechtskräftig festgestellt, unbestritten oder von uns ausdrücklich anerkannt ist.</li>
                </ol>
                

                <h6>§12 Datenschutz</h6>
                <ol>
                    <li>Im Rahmen dieses Vertrages schließt das Unternehmen IT-Service Beckmann (als Auftragnehmer) und das Partnerunternehmen (als Auftraggeber) für die auf den gebuchten Plattformen zu veröffentlichenden personenbezogenen Daten eine Vereinbarung zur Auftragsverarbeitung (AV) gem. Art. 28 DSGVO.</li>
                    <li>Weitere Informationen zum Datenschutz, insbesondere zu technischen und organisatorischen Maßnahmen (TOM) des Auftragnehmers, zu den Rechten von Auftraggeber und betroffenen Personen bzgl. Auskunft, Widerruf und Löschung von Daten sind jederzeit hier abrufbar: Datenschutz</li>
                </ol>
                

                <h6>§13 Sonstiges</h6>
                <ol>
                    <li>Dieser Vertrag und die gesamten Rechtsbeziehungen der Parteien unterliegen dem Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts (CISG). Als Gerichtsstand wird Lennestadt vereinbart.</li>
                    <li>Erfüllungsort und ausschließlicher Gerichtsstand für alle Streitigkeiten aus diesem Vertrag ist unser Geschäftssitz, sofern sich aus der Auftragsbestätigung nichts anderes ergibt.</li>
                    <li>Alle Vereinbarungen, die zwischen den Parteien zwecks Ausführung des Vertrages getroffen werden, werden in Textform niedergelegt. Änderungen dieses Vertrages bedürfen ebenfalls der Textform. Dies gilt auch für die Textformklausel selbst. Zur Wahrnehmung des Textformerfordernisses reicht der Zugang per E-Mail aus.</li>
                    <li>Sollte eine Bestimmung dieses Vertrages unwirksam sein oder werden, berührt dies die Gültigkeit des Vertrages im Übrigen nicht. Die ungültige Bestimmung ist durch eine wirksame zu ersetzen, die dem Willen und dem zeitlichen Zweck des Vertrages am nächsten kommt.</li>
                </ol>                                
            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}{% endblock %}