{% extends layout %}
{% block title %}Fehler{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Fehler</h3>
                <p>Sie haben keine Berechtigung für diesen Aufruf!</p>
            </div>
        </div>
    </div>
{% endblock %}