{% extends layout %}
{% block title %}Accoutn erfolgreich bestätig{% endblock %}
{% block styles %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>Account erfolgreich bestätigt</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque dolor cum ipsam officiis earum, rem voluptate facilis et corrupti consectetur, numquam quod eos expedita eum nesciunt! Fugiat maiores officiis optio?
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}{% endblock %}