{% extends layout %}
{% block title %}Start{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-5">
            <img src="images/12083369_Wavy_Bus-19_Single-08.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-7">
            <div id="welcome" class="centeredText">
                <h4>Ihre Stellenausschreibung wird zur 60 Sekunden Bewerbung</h4>
                <p>
                    Willkommen bei <b>JobEmbed</b>, wo Sie in nur wenigen Schritten professionelle Bewerbungsformulare erstellen und auf Ihren 
                    eigenen Websites einbinden können. Unser Ziel ist es, Ihnen eine benutzerfreundliche Lösung zu bieten, die es Ihnen ermöglicht, 
                    Ihren Rekrutierungsprozess zu vereinfachen und zu automatisieren. Mit unserer Plattform können Sie Ihre Bewerbungsformulare an 
                    Ihre Bedürfnisse anpassen, um eine effiziente und effektive Bewerberauswahl sicherzustellen. Wir freuen uns, Ihnen dabei zu helfen, 
                    Ihr Unternehmen zu stärken und zu wachsen.
                </p>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-5 order-md-2">
            <img src="images/20943639.jpg" alt="" class="img-fluid">
        </div>
        
        <div class="col-md-7 order-md-1">
            <div id="vorteile" class="centeredText text-start" >
                <h4>Nutzen Sie unsere Vorteile für Ihr Unternehmen</h4>
                <ul>
                    <li>30 Tage Testzeitraum / Geld-Zurück-Garantie<sup>*</sup></li>
                    <li>Keine Kreditkarte nötig, Zahlen Sie bewquem per Rechnung</li>
                    <li>DSGVO-konform (Es werden keinerlei Bewerberdaten gespeichert)</li>
                    <li>Wir unterstützen Sie auf Wunsch bei der Einrichtung</li>
                    <li>faire Kündigungsfristen</li>
                    <li>Upgrade Möglichkeiten</li>
                </ul>
            </div>
        </div>
        
    </div>


    <div class="row mt-5 mb-5">
        <div class="col-md-5">
            <img src="images/20944145.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-7">
            <div class="centeredText">
                <h4>schnell, einfach und personalisiert</h4>
                <p>
                    Sie suchen nach einer schnellen und einfachen Möglichkeit, Bewerbungen von qualifizierten Bewerbern zu erhalten? 
                    Dann ist unser 60-Sekunden-Bewerbungstool genau das Richtige für Sie! Bewerber können in nur 60 Sekunden ihre Bewerbungsunterlagen 
                    hochladen und sich auf Ihre Stellenangebote bewerben. Das spart Ihnen Zeit und Arbeit bei der manuellen Durchsicht von Bewerbungen. 
                    Dank personalisierter Fragen und Bewertungskriterien können Sie schnell die besten Bewerber auswählen. Unsere Online-Bewerbungstools 
                    bieten auch Schutz und Datensicherheit bei der Übertragung sensibler Bewerbungsunterlagen. Steigern Sie Ihre Bewerbungseffizienz und 
                    nutzen Sie jetzt unser 60-Sekunden-Bewerbungstool!
                </p>
            </div>
        </div>
    </div>


    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="card">
                <img src="images/18734235_Tiny-people-searching-for-business-opportunities.jpg" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <h5 class="card-title">BASIC</h5>
                    <p class="card-text">
                       Die bezahlbare Option für kleine Unternehmen, die nur sporadisch neue Mitarbeiter einstellen.<br><br>
                    </p>
                    <p class="fw-bold">Funktionsumfang:</p>
                    <ul class="text-start fw-lighter">
                        <li>bis zu 3 Stellenangebote</li>
                        <li>standart Bewerbungstemplate</li>
                        <li>anpassbares Design</li>
                        <li>Einrichtungsservice</li>
                        <li>kostenfreier Mailsupport</li>
                        <br>
                    </ul>
                    <h2>99€</h2>
                    <a href="#" class="btn btn-primary">Jetzt buchen</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card">
                <img src="images/9176886_6671.jpg" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <h5 class="card-title">PRO</h5>
                    <p class="card-text">
                        Die umfassende Lösung für mittelständische Unternehmen, die ein schnelles und effizientes Wachstum anstreben. 
                    </p>
                    <p class="fw-bold">Funktionsumfang:</p>
                    <ul class="text-start fw-lighter">
                        <li>bis zu 10 Stellenangebote</li>
                        <li>bis zu 3 Ansprechpartner</li>
                        <li>standart Bewerbungstemplate</li>
                        <li>anpassbares Design</li>
                        <li>Einrichtungsservice</li>
                        <li>kostenfreier Mailsupport</li>
                    </ul>
                    <h2>249€</h2>
                    <a href="#" class="btn btn-primary">Jetzt buchen</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-end">
            <div class="card">
                <img src="images/OrgCoral_Ofc-01_Concept-06.jpg" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <h5 class="card-title">PRO</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <p class="fw-bold">Funktionsumfang:</p>
                    <ul class="text-start fw-lighter">
                        <li>bis zu 30 Stellenangebote</li>
                        <li>bis zu 10 Ansprechpartner</li>
                        <li>standart Bewerbungstemplate</li>
                        <li>anpassbares Design</li>
                        <li>Einrichtungsservice</li>
                        <li>kostenfreier Mailsupport</li>
                    </ul><br>
                    <h2>499€</h2>
                    <a href="#" class="btn btn-primary">Jetzt buchen</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% endblock %}